@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/*-- Corps Page -----------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0px;
}

main {
  margin: 0px 45px;
}

/*-- Header -----------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 3px 45px 3px 45px;
}

#logo {
  height: 50px;
  width: 120px;
  min-width: 100px;
  overflow: hidden;
}

#logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

nav {
  margin-left: auto;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0px 0px 0px 0px;
}

li a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 50px;
}

li:hover a /* , li:first-child a */ {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.inscription {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #0065fc;
  padding: 50px;
  transition-duration: 0.4s;
}

.inscription:hover {
  transform: scale(1.2);
}

/*-- Section 1 --------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*-- Section 1 Titres -------------------------------------------------------*/

#section_1 {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
}

#title_box p {
  margin: 10px 0;
}

h1 {
  margin: 0px;
  font-size: 1.4em;
}

/*-- Section 1 Recherche ----------------------------------------------------*/

form {
  display: flex;
  align-items: center;
}

#icone_map {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
}

#champ_recherche {
  border-top: #f2f2f2 solid 1px;
  border-bottom: #f2f2f2 solid 1px;
  border-left: none;
  border-right: none;
  padding: 10px;
  background-color: white;
  height: 50px;
  width: 300px;
  font-family: inherit;
  font-size: 1.4em;
}

input:focus {
  outline: none;
}

#bouton_rechercher {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #0065fc;
  color: white;
  height: 50px;
  width: 160px;
  font-family: inherit;
  font-size: 1.3em;
}

#bouton_rechercher:hover {
  cursor: pointer;
}

#icone_loupe {
  display: none;
}

/*-- Section 1 Filtres ------------------------------------------------------*/

#filter_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}

.filter_button {
  padding-left: 0;
  color: black;
  border: none;
  background-color: white;
  font-family: inherit;
}

.filter_button h3 {
  margin-left: 0;
}

.filter_button:hover {
  cursor: pointer;
}

.filters_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  margin: 0px 20px;
  border: 2px rgb(217, 217, 217) solid;
  border-left: 0px;
  border-radius: 90px 90px;
  padding: 0px;
  transition-duration: 0.4s;
  background-color: white;
  font-family: inherit;
}

.filters_buttons:hover {
  background-color: #0065fc;
  color: white;
  cursor: pointer;
}

#economique,
#familial,
#romantique,
#animaux {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: rgb(0, 086, 246);
  border-radius: 50px;
  background-color: rgb(216, 232, 254);
}

#economique {
  padding: 15px 12px;
}

#familial {
  padding: 15px 16px;
}

#romantique {
  padding: 15px;
}

#animaux {
  padding: 15px 13px;
}

h3 {
  margin: 15px;
}

/*-- Section 1 Info -------------------------------------------------------*/

#info {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 086, 246);
  border: 1px rgb(217, 217, 217) solid;
  border-radius: 40px;
  height: 20px;
  width: 20px;
  background-color: white;
}

.info {
  display: flex;
  align-items: center;
}

.info p {
  margin-left: 15px;
}

/*-- Section 2 Hebergements ------------------------------------------------*/
/*--------------------------------------------------------------------------*/

#section_hebergements {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 10px 0;
}

#section_hebergements h4 {
  margin: 0px;
  font-size: 1.2em;
}

#section_hebergements p {
  margin: 5px 0;
}

#section_hebergements a {
  text-decoration: none;
  color: black;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 40px;
  width: 60%;
  height: auto;
}

.conteneur_hebergements {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 30px;
  margin: 20px 0px 40px 0px;
  row-gap: 35px;
}

.hebergements {
  width: 30%;
  border: 5px solid white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 15px gray;
  transition: 0.5s;
  padding: 0;
  overflow: hidden;
}

.hebergements:hover {
  transform: scale(1.05);
}

.hebergements .image_hebergement {
  height: 120px;
  overflow: hidden;
}

.hebergements img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.text_box_hebergements {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: smaller;
}

.fa-star {
  color: rgb(217, 217, 217);
}

.fa-star.active {
  color: #0065fc;
}

#afficher_plus_button {
  font-family: inherit;
  font-weight: bold;
  width: fit-content;
  font-size: 18px;
  border: none;
  background-color: #f2f2f2;
}

#afficher_plus_button :hover {
  cursor: pointer;
}

/*-- Section 2 Populaires --------------------------------------------------*/
/*--------------------------------------------------------------------------*/

aside {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 25%;
  border-radius: 30px;
  background-color: #f2f2f2;
  height: auto;
}

.title_box_populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fleche_populaire {
  font-size: 25px;
}

.conteneur_populaires {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin: 20px 0px 20px 0px;
  row-gap: 35px;
}

.populaires {
  display: flex;
  border: 5px solid white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 15px gray;
  transition: 0.5s;
  overflow: hidden;
}

.populaires:hover {
  transform: scale(1.05);
}

.populaires a {
  display: flex;
  width: 100%;
}

.populaires .image_populaire {
  height: 140px;
  width: 140px;
  min-width: 140px;
  overflow: hidden;
}

.populaires img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.text_box_populaires {
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: smaller;
}

/*-- Section 3 Activités ----------------------------------------------------*/
/*---------------------------------------------------------------------------*/

#section_activites {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
}

.conteneur_activites {
  margin: 20px 0;
  max-height: 600px;
  row-gap: 35px;
  column-gap: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.conteneur_activites a {
  text-decoration: none;
  color: black;
}

.activites_grand {
  width: 23%;
  min-width: 20%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 15px gray;
  transition: 0.5s;
  overflow: hidden;
  padding: 0;
}

.activites_grand:hover {
  transform: scale(1.05);
}

.activites_grand .image_activites {
  height: 548px;
  overflow: hidden;
}

.activites_grand img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.activites_grand h4 {
  margin: 15px;
  font-size: 1em;
}

.activites {
  width: 23%;
  min-width: 20%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 15px gray;
  transition: 0.5s;
  overflow: hidden;
  padding: 0;
}

.activites:hover {
  transform: scale(1.05);
}

.activites .image_activites {
  height: 232px;
  overflow: hidden;
}

.activites img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.activites h4 {
  margin: 15px;
  font-size: 1em;
}

/*-- Footer -----------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

footer {
  background-color: #f2f2f2;
  padding: 40px;
}

#conteneur_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

h5 {
  font-size: 18px;
  margin: 20px 0;
}

footer p {
  margin: 10px 0;
}

.footer_text {
  display: block;
  margin-right: auto;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*------- Media Queries -------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

/*
  $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px);
*/

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-- Media Queries Tablet ----------------------------------------------------------*/

@media screen and (max-width: 1286px) {
  main {
    width: 100%;
    margin: 0px;
  }

  /*-- Header ----------------------------------------------------------------------*/

  header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  #logo {
    padding: 20px;
  }

  .inscription {
    padding: 20px;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 2;
  }

  ul {
    width: 100%;
  }

  li {
    width: 50%;
  }

  li a {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(240, 240, 240);
  }

  li:hover a {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  /*-- Section 1 -------------------------------------------------------*/

  #section_1 {
    width: auto;
    padding: 20px 20px 0px 20px;
    margin: 0;
  }

  #filter_container {
    margin: 0px;
  }

  .filter_button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .filters_buttons {
    margin: 10px 20px 10px 0px;
  }

  /*-- Section 2 Hebergements -------------------------------------------------------*/

  #section_hebergements {
    margin: 20px 0px;
    display: flex;
    flex-direction: column-reverse;
  }

  article {
    padding: 20px;
    width: auto;
    background-color: white;
  }

  .conteneur_hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    background-color: white;
  }

  .hebergements {
    width: 320px;
  }
  .hebergements .image_hebergement {
    height: 120px;
    overflow: hidden;
  }

  #afficher_plus_button {
    background-color: white;
  }

  /*-- Section 2 Populaires -------------------------------------------------------*/

  aside {
    padding: 20px;
    width: auto;
    border-radius: 0px;
  }

  .conteneur_populaires {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
  }

  .populaires {
    width: 320px;
  }

  /*-- Section 3 Activités -------------------------------------------------------*/

  #section_activites {
    width: auto;
    padding: 0px 20px 20px 20px;
  }

  .conteneur_activites {
    max-height: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
  }

  .activites_grand {
    width: 320px;
  }

  .activites_grand .image_activites {
    height: 120px;
    overflow: hidden;
  }

  .activites {
    width: 320px;
  }

  .activites .image_activites {
    height: 120px;
    overflow: hidden;
  }

  .image_activites :nth-child(5) img {
    object-position: top center;
  }

  /*-- Footer -----------------------------------------------------------------*/

  #conteneur_footer {
    display: block;
  }

  footer {
    padding: 20px 20px 20px 20px;
    width: auto;
  }

  .footer_text {
    padding-bottom: 10px;
  }
}

/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/
/*-- Media Queries Smartphone --------------------------------------------------------------------*/

@media screen and (max-width: 576px) {
  main {
    width: 100%;
    margin: 0px;
  }

  /*-- Header ----------------------------------------------------------------------*/

  header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  #logo {
    padding: 20px;
  }

  .inscription {
    padding: 20px;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 2;
  }

  ul {
    width: 100%;
  }

  li {
    width: 50%;
  }

  li a {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(240, 240, 240);
  }

  li:hover a {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  /*-- Section 1 -------------------------------------------------------*/

  #section_1 {
    width: auto;
    padding: 20px 20px 0px 20px;
    margin: 0;
  }

  #icone_map {
    font-size: larger;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(240, 240, 240);
  }

  form {
    justify-content: center;
  }

  #champ_recherche {
    width: 100%;
  }

  #bouton_rechercher {
    display: none;
  }

  #icone_loupe {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0065fc;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 1.2em;
  }

  #icone_loupe:hover {
    cursor: pointer;
  }

  #filter_container {
    margin: 0px;
  }

  .filter_button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .filters_buttons {
    margin: 10px 20px 10px 0px;
  }

  /*-- Section 2 Hebergements -------------------------------------------------------*/

  #section_hebergements {
    margin: 20px 0px;
    display: flex;
    flex-direction: column-reverse;
  }

  article {
    padding: 20px;
    width: auto;
    background-color: white;
  }

  .conteneur_hebergements {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .hebergements {
    width: auto;
  }

  .hebergements .image_hebergement {
    height: 120px;
    overflow: hidden;
  }

  #afficher_plus_button {
    background-color: white;
  }

  /*-- Section 2 Populaires -------------------------------------------------------*/

  aside {
    padding: 20px;
    width: auto;
    border-radius: 0px;
  }

  .populaires {
    width: 100%;
  }

  /*-- Section 3 Activités -------------------------------------------------------*/

  #section_activites {
    width: auto;
    padding: 0px 20px 20px 20px;
  }

  .conteneur_activites {
    margin: 0;
    max-height: none;
    display: block;
    flex-direction: column;
  }

  .activites_grand {
    width: 100%;
    margin: 30px 0;
  }

  .activites_grand .image_activites {
    height: 120px;
    overflow: hidden;
  }

  .activites {
    width: 100%;
    margin: 30px 0;
  }

  .activites .image_activites {
    height: 120px;
    overflow: hidden;
  }

  /*-- Footer -----------------------------------------------------------------*/

  #conteneur_footer {
    display: block;
  }

  footer {
    padding: 20px 20px 20px 20px;
    width: auto;
  }

  .footer_text {
    padding-bottom: 10px;
  }
}

/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/
/*-- Media Queries Very Thin Smartphone ------------------------------------------------------*/

@media screen and (max-width: 383px) {
  .text_box_populaires {
    font-size: 11px;
  }
}
